body {
	background: url("../imgs/bg.jpg") repeat;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	text-transform: uppercase;
}

h1, h2 {
	color: #fff;
	text-align: center;
	font-size: 1em;
}

/** status bar */
#status-bar {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

#status-bar h5 {
	font-size: 1em;
}

/** end */
#end {
	position: absolute;
	width: 30em;
	height: 18em;
	margin-top: -15em;
	margin-left: -15em;
	top: 50%;
	left: 50%;
	font-size: 0.6em;
}

.final-winner {
	display: none;
}

/** board */
#board {
	margin: 0 auto;
	width: 100%;
}

/** Card */
.card {
	cursor: pointer;
	width: 100px;
	height: 200px;
	overflow: hidden;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 10px;
}

.matched-card {
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	animation: match 1s forwards;
	-webkit-animation: match 1s forwards;
}

.selected-card {
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.off-card {
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

/** SETUP */
.off {
	display: none;
}

#setup {
	position: absolute;
	top: 50%;
	left: 51%;
	width: 30em;
	height: 18em;
	margin-top: -15em;
	margin-left: -15em;
}

.players-setup-container {
	margin: 50px auto 0 auto;
	width: 330px;
}

.players-setup {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.players-setup:active {
	top: 3px;
}

.players-setup:nth-child(1) {
	background: url("../imgs/1p.png") no-repeat center center;
	margin-right: 10px;
}

.players-setup:nth-child(2) {
	background: url("../imgs/2p.png") no-repeat center center;
	margin-right: 10px;
}

.players-setup:nth-child(3) {
	background: url("../imgs/3p.png") no-repeat center center;
	margin-right: 10px;
}

.players-counter {
	text-align: center;
}

/** going old school arcade style */
.blink {
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
	text-align: center;
}

.start-btn {
	cursor: pointer;
	font-size: 1em;
}

/** notifications */
.notifications {
	top: -115px;
	left: 40px;
	position: absolute;
	display: none;
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
	padding: 10px;
}

.notifications.active {
	display: block;
}

.footnote {
	text-align: center;
	font-size: 0.9em;
	opacity: 0.8;
}

/** effects/animations */
@keyframes blink {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}

@keyframes match {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/** above mobile viewport */
@media (min-width: 768px) {
	h1, h2, .start-btn {
		font-size: 2em;
	}

	.card {
		cursor: pointer;
		width: 200px;
		height: 300px;
		overflow: hidden;
		float: left;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 10px;
	}

	#setup, #end {
		left: 50%;
	}

	.final-winner {
		margin-top: 50px;
		margin-left: -125px;
		display: block;
	}

	#status-bar h5 {
		font-size: 2em;
	}

	.notifications {
		left: -15px;
		top: -135px;
	}

	#end {
		top: 50%;
		left: 50%;
		font-size: 1em;
	}
}
